*{
    box-sizing: border-box;
}

body{
    margin: 0;

}

.body-style{
    background: linear-gradient(
        -45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab
        );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


header h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content:center;
    margin: 0 18%;
    border: 2px white solid; 

}

.item{
    flex:1;
    padding: 50px;
    border: 1px rgba(105, 92, 92, 0.637) solid;
}

.start-form h2{
    text-align: center;
}

.start-form p{
    text-align: justify;
}

.start-form input[type="submit"]{
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px white solid;
    outline-style:none;
}

input {
    cursor: pointer;
}

#js-result-list img{
    width: 200px;
}

.search-form input[type="text"],input[type="number"], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
