*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content:center;
    margin: 0 18%;
    border: 2px black solid; 

}

.item{
    flex:1;
    padding: 50px;
    border: 1px black solid;
}

.start-form h2{
    text-align: center;
}

.start-form p{
    text-align: justify;
}

.start-form input[type="submit"]{
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px white solid;
    outline-style:none;
}

input {
    cursor: pointer;
}

#js-result-list img{
    width: 200px;
}

.search-form input[type="text"],input[type="number"], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
}