*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header h1{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 18%;
    border: 2px black solid; 

}

.item{
    flex:1;
    padding: 50px;
}

.start-form h2{
    text-align: center;
}

.start-form p{
    text-align: justify;
}

input[type="submit"]{
    margin:10px 45%;
    padding: 10px;
    border-radius: 20px;
    border: 1px white solid;
    outline-style:none;
}

input {
    cursor: pointer;
  }